body,
html {
  height: 100%;
  margin: 0;
}
.bg {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.mainContent {
  position: absolute;
  top: 25%;
  width: 100%;
}
